
@tailwind base;
@tailwind components;
@tailwind utilities;

.specialOfferFont {
    font-family: 'Lato', sans-serif; /* Replace with your desired font-family */
    font-size: 18px; /* Replace with your desired font-size */
    font-weight: 400; /* Make the font Bold */
    color:transparent; /* Optional: Change color if needed */
    background: linear-gradient(to right,#9C7945,#D8C691,#D8C691,#BE9E45);
    -webkit-background-clip: text;
    background-clip: text;
    /* Add any other font-related properties you need */
  }

  .indiaGradient {
    background: linear-gradient(to right, orange, white, green);
    -webkit-background-clip: text;
    color: transparent; /* This makes the text transparent, showing only the background */
    background-clip: text;
    
  }

  .headingFont {
    font-family: 'Roboto', sans-serif; /* Replace with your desired font-family */
    font-size: 40px; /* Replace with your desired font-size */
    font-weight: bold; /* Make the font Bold */
    color:transparent; /* Optional: Change color if needed */
    background: linear-gradient(to right,#9C7945,#D8C691,#D8C691,#BE9E45);
    -webkit-background-clip: text;
    background-clip: text;
    /* Add any other font-related properties you need */
  }

  .headingOneFont {
    font-family: 'Roboto', sans-serif; /* Replace with your desired font-family */
    font-size: 50px; /* Replace with your desired font-size */
    font-weight: bold; /* Make the font Bold */
    color:transparent; /* Optional: Change color if needed */
    background: linear-gradient(to right,#9C7945,#D8C691,#D8C691,#BE9E45);
    -webkit-background-clip: text;
    background-clip: text;
    /* Add any other font-related properties you need */
  }

  .tasteOfIndiaFont {
    font-family: 'Playfair Display', sans-serif; /* Replace with your desired font family */
    font-size: 48px; /* Adjust the size as needed */
    font-weight:700;
    color: #FFFFFF
    /* You can add more styling here if needed */
  }

  .Navbar {
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: flex-start; /* Align items to the start (left) of the container */
  }
  .Navbar {
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: flex-start; /* Align items to the start (left) of the container */
  }
  .container {
    display: flex;
    align-items: stretch; /* Align children's height */
  }
  
  .image-container {
    flex: 0 0 auto; /* Do not grow or shrink */
  }
  
  .text-container {
    flex-grow: 1; /* Grow to fill the remaining space */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center text vertically */
  }
  
  .image-about-us {
    width: 100%; /* Fill the container */
    height: 100%; /* Fill the container */
    object-fit: cover; /* Maintain aspect ratio */
    border-radius: 0.5rem; /* Rounded corners */
  }

  @media (max-width: 600px) {
    .container {
      padding: 20px;
    }
  }
/* styles/Home.module.css */
.container {
    padding: 5%;
  }
  
  .header {
    background-color: lightblue;
  }
  
  .main {
    font-size: 1.2rem;
  }
  

    

  