@tailwind base;
@tailwind components;
@tailwind utilities;

.specialOfferFont {
    font-family: 'Roboto', sans-serif; /* Replace with your desired font-family */
    font-size: 40px; /* Replace with your desired font-size */
    font-weight: bold; /* Make the font Bold */
    color:transparent; /* Optional: Change color if needed */
    background: linear-gradient(to right,#9C7945,#D8C691,#D8C691,#BE9E45);
    -webkit-background-clip: text;
    background-clip: text;
    /* Add any other font-related properties you need */
  }

  .indiaGradient {
    background: linear-gradient(to right, orange, white, green);
    -webkit-background-clip: text;
    color: transparent; /* This makes the text transparent, showing only the background */
    background-clip: text;
    font-style: italic;
  }

  .tasteOfIndiaFont {
    font-family: 'Roboto', sans-serif; /* Replace with your desired font family */
    font-size: 45px; /* Adjust the size as needed */
    font-weight:italic;
    /* You can add more styling here if needed */
  }

  .Navbar {
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: flex-start; /* Align items to the start (left) of the container */
  }
  .Navbar {
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: flex-start; /* Align items to the start (left) of the container */
  }
